<!DOCTYPE html>
<html>
<head>
    <title>Port Plaisance</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<nav>
    <a href="/dashboard">Dashboard</a>
    <a href="/catways">Catways</a>
    <a href="/logout">Logout</a>
</nav>
<hr>