<h1>Dashboard</h1>

<h2>Catways</h2>

<table border="1">
    <tr>
        <th>Numéro</th>
        <th>Type</th>
        <th>État</th>
    </tr>

    <% catways.forEach(catway => { %>
        <tr>
            <td><%= catway.catwayNumber %></td>
            <td><%= catway.catwayType %></td>
            <td><%= catway.catwayState %></td>
        </tr>
    <% }) %>
</table>
