<%- include('partials/header') %>

<h1>Port de Plaisance Russell</h1>

<p>
Application de gestion des réservations de catways.
Accès réservé à la capitainerie.
</p>

<a href="/login">Se connecter</a>
<br><br>
<a href="/api-docs">Documentation API</a>

<%- include('partials/footer') %>